@charset "utf-8";

/**
 * 页头部
 */
.global-header {
    position: relative;
    z-index: 1;
    padding-top: .2rem;
    padding-bottom: .2rem;
    box-shadow: 0 .02rem .04rem rgba(93, 93, 93, .5);
    .logo {
        max-width: 100%;
        max-height: .5rem;
    }
}